<h1>New Game</h1>

<ul class="grid">
<% total_grid = @grid.each do |letter|%>
<div class="grid-letter"> <%= letter.capitalize%></div>
<% end%>
</ul>

<h4>What is the longest word you can find?</h4>
<form action="/score" method="post" data-turbo="false" class="row g-3">
<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
<%= hidden_field_tag :total_grid, total_grid %>

  <div class="col">
  <input type="text" name="word" placeholder="Type here..." class="form-control">
  </div>
  <div class="col">
  <input type="submit" value="Play" class="btn btn-primary">
    </div>
</form>
