<h1>Results</h1>

<p><strong>Your word:</strong> <%= @word%></p>

<p><%= @message%></p>

<button type="button" class="btn btn-outline-info" style="text-decoration: none">
<%= link_to "Play again", new_path %>
</button>
